@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

body{
	font-family: 'Roboto' , sans-serif;
	font-weight: 400;
	background-color:#f0f0f0;
}

image{

	max-width: 100%;
	border-radius: 15 15 0 0px;

}
.old{
	padding-left:5px;
}
.house-info {
    background-color: #ffffff;
	padding-left: 1em;
	padding-left: 0;
	
}

.margin{
	Font-weight: bold;
	color: #6d6464;
	display: inline-flex;
	margin-left: -15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top:0px;
  
    
}
.circle{
	margin:0;
	padding:0;

}

.back{
	background-color: rgb(250, 250, 250);
	border-radius: 0 0 15 15;
}

.line{
	opacity:0.1;
}
.money{
	Font-family:Lato;
	Font-weight:500;
	font-size:35px;
	padding:0;
	margin-right: 0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: 25px;
}

.street{
	Font-family:sans-serif;
	Font-weight:100;
	font-size:17px;
	color: rgb(110, 95, 95);
	padding:0;
	margin-right: 0;
	margin-top:0;
	margin-bottom:0;
	margin-left: 25px;
}

.container{
	width: 25em;
    height: auto;
    background-color:#ffffff;
	margin: 0 auto;
	margin-top: 200px;
	margin-bottom: 200px;
	border-radius: 15px;
}

.button{
	Font-family:times;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 34px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:30px;
	margin-top:0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	border-radius: 26px;
	font-size: 18px;
}

.icons{
	width:40%;
	display:flex;
	
	
	
}
.howmany{
	font-weight: bold;
	margin-left:20px;
	margin-right:5px;
}
.contact{
	Font-weight:400;
	font-size:15px;
	padding:0;
	margin-right: 0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: 25px;
}
.realtor{
	font-family:Roboto;
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 12px;
	color: rgb(140, 133, 165);
}
.annie{
	font-family:Lato;
	font-weight: 800;
	letter-spacing: 0.5px;
	color:rgb(58, 53, 63);
	font-size: 15px;
	margin:0;
	padding:0;

}
.phone{
	font-family:Roboto;
	font-size: 14px;
	letter-spacing: 0.5px;
	color:rgb(106, 99, 129);
	font-weight:100;
	margin-right: 0px;
	margin-top:0px;
	margin-bottom:20px;
	margin-left: 0px;
	padding:0;
}